<link rel="stylesheet" href="/css/popup.css">

<!--==================== pop-up and overlay ====================-->
<div>
  <div id="popup-div" class="popup">
    <div id="notification-popup" class="notification"></div>
    <h2><strong id="popup-alert"></strong></h2>
    <strong>
      <p id="popup-msg"></p>
    </strong>
    <p id="popup-obs"></p>
    <input type="text" class="contact__input" id="input-text-popup" placeholder="  Digite aqui...">
    <input type="tel" class="contact__input" inputmode="numeric" id="input-phone-popup" maxlength="16"
      placeholder=" (XX) X XXXX-XXXX">
    <input type="password" class="contact__input" placeholder="******" id="input-password-popup">
    <div class="popup__tabs">
      <button id="popup-yes"><strong></strong></button>
      <button id="popup-no"><strong></strong></button>
      <button id="popup-ok"><strong></strong></button>
    </div>
  </div>
  <div id="overlay" class="overlay"></div>
</div>

<script src="/js/popup.js"></script>
